<div nz-row>
    <div nz-col [nzXs]="{ span: 5, offset: 1 }" [nzLg]="{ span: 6, offset: 2}">
        <nz-card nzTitle="Total Calories Burned" style="background-color: aliceblue;">
            <p>{{ statsData?.totalCaloriesBurned }} cal</p>
        </nz-card>
    </div>
    <div nz-col [nzXs]="{ span: 11, offset: 1 }" [nzLg]="{ span: 6, offset: 2}">
        <nz-card nzTitle="Total Distance Covered" style="background-color: aliceblue;">
            <p>{{ statsData?.distance | number:'1.1-1' }} Km</p>
        </nz-card>
    </div>
    <div nz-col [nzXs]="{ span: 5, offset: 1 }" [nzLg]="{ span: 6, offset: 2}">
        <nz-card nzTitle="Total Steps Taken" style="background-color: aliceblue;">
            <p>{{ statsData?.steps}}</p>
        </nz-card>
    </div>
</div>

<div nz-row style="margin-top: 20px;">
    <div nz-col [nzXs]="{ span: 5, offset: 1 }" [nzLg]="{ span: 6, offset: 2}">
        <nz-card nzTitle="Total Time Spent" style="background-color: aliceblue;">
            <p>{{ statsData?.duration}} min</p>
        </nz-card>
    </div>
    <div nz-col [nzXs]="{ span: 5, offset: 1 }" [nzLg]="{ span: 6, offset: 2}">
        <nz-card nzTitle="Achieved Goals" style="background-color: aliceblue;">
            <p>{{ statsData?.achievedGoals}} min</p>
        </nz-card>
    </div>
    <div nz-col [nzXs]="{ span: 5, offset: 1 }" [nzLg]="{ span: 6, offset: 2}">
        <nz-card nzTitle="Not Achieved Goals" style="background-color: aliceblue;">
            <p>{{ statsData?.notAchievedGoals}} min</p>
        </nz-card>
    </div>
</div>

<div nz-row style="margin-top: 15px;">
    <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">
        <nz-card nzTitle="Recent Workouts" style="background-color: aliceblue;">
            <canvas #workoutLineChart></canvas>
        </nz-card>
    </div>
    <div nz-col nzXs="20" nzSm="16" nzMd="12" nzLg="8" nzXl="4"></div>
    <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">
        <nz-card nzTitle="Recent Activities" style="background-color: aliceblue;">
            <canvas #activityLineChart></canvas>
        </nz-card>
    </div>

</div>